* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #194775;
}

section#main {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30vh;
}


div#container-logo {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5vh;
}

div#container-logo img {
    width: 100px;
    height: 100px;
}

section#main h1 {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 5vh;
    text-transform: uppercase;
    font-size: 20pt;
    color: #FAFBFD;
}

div#container-guests {
    width: 80vw;
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vh;
}

div#container-guests h3 {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    color: #FAFBFD;
}

div.guest {
    width: 30%;
    min-width: 300px;
    height: auto;
    background: #EAEBED;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 4px;
}

div.guest p, div.guest b {
    width: 100%;
    text-align: center;
    font-size: 14pt;
}

div.guest p {
    font-size: 11pt;
}


div#container-cards {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 5vh;
    background: #FAFBFD;
    border-radius: 6px;
    padding: 2rem 0;
}

div.card {
    width: 300px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
    margin-top: 1rem;
}

div.card img {
    width: 150px;
    height: auto;
    margin: .5rem 0;
    border-radius: 6px;
    background: gray;
}

div.card b, div.card p {
    width: 100%;
    text-align: center;
}

div.card b { margin-top: 1rem; }


div.sub-container-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding: 4px;
    margin-top: 2rem;
}

div.grade {
    width: 300px;
    padding: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1rem;
    margin-top: 2rem;
}

div.grade b {
    width: 100%;
    text-align: center;
    font-size: 14pt;
    padding: 4px;
}

div.grade p {
    white-space: pre-line;
    width: 100%;
    padding-left: 4px;
}